extends layout.pug

block content

  article.portfolio-intro


    p This is a website designed to showcase my projects so far. This site iteself has been served via express, using Pug for templating.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      
      
      each project in projects
        .cell
          a(href=`project/${project.id}`)
            img.thumbnail(src=`${project.image_urls.thumb}`, alt=`${project.description}`)
            h5 #{project.project_name}
